<!DOCTYPE html>
<html lang="en" op="news">
<head>
    <meta name="referrer" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}} - Moshe Karmel" />
    <meta property="og:description" content="The (Minimalist) Site of Moshe Karmel" />
    <meta property="og:url" content="https://moshekarmel.com/" />
    <meta property="og:site_name" content="Moshe Karmel" />
    <meta property="article:modified_time" content="2021-12-10T14:27:14+00:00" />
    <meta property="og:image" content="https://moshekarmel.com/img/mo3.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="4 minutes" />
    <link rel="shortcut icon" href="{{basePath}}img/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{basePath}}rss">
    <link rel="stylesheet" type="text/css" href="{{basePath}}pizza.css" />
    <title>{{title}} - Moshe Karmel</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63145510-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-63145510-1');
    </script>
</head>
<body>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <div id="common-header"></div>
            <tr>
                <td>
                    <!-- Page content will go here -->
                    <div id="page-content"></div>
                </td>
            </tr>
            <div id="common-footer"></div>
        </table>
    </center>
    <script type="text/javascript" src="{{basePath}}pizza.js"></script>
</body>
</html>