<tr>
    <td>
        <table width="100%" cellspacing="0" cellpadding="1">
            <tr>
                <td bgcolor="#ff6600"></td>
            </tr>
        </table><br>
        <center><span class="yclinks"><a href="https://github.com/moshekarmel1">Github</a>
            | <a href="http://moshekarmelprogramming.blogspot.com/">Blog</a>
            | <a href="https://www.linkedin.com/in/moshe-karmel-3283a870">LinkedIn</a>
            | <a href="https://stackoverflow.com/users/4138452/moshe-karmel">StackExchange</a>
            | <a href="mailto:moshekarmel1@gmail.com">Contact</a>
            | <a href="https://rktrefer.com/mk82">Mortgage Referral</a></span><br><br>
        </center>
        <center>
            <span class="yclinks">This site design was <b>heavily</b> inspired by <a
                    href="https://news.ycombinator.com/news" class="hnuser">Hacker News</a>.
                Minimalist++</span>
        </center>
    </td>
</tr>